@use "../util" as u;

.checkbox{
    position: relative;
    display: flex;
    justify-content: flex-start ;
    margin-left: .6rem;
}
input[type="checkbox"]{
    opacity: 0;
    cursor: pointer;
}
input[type="checkbox"] + label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 18px;
}
input[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-200);
    top: 0;
    left: -1.8rem;
}
input[type="checkbox"]:checked + label::before{
    content: url("../assets/images/icon-check.svg");
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid var(--green-200);
    background-color: var(--green-200);
    top: 0;
    left: -1.8rem;
    transform: scale(1);
    transition: all 0.3s ease;
}

.slider {
  appearance: none;
  width: 100%;
  overflow: hidden;
  height: 20px;
  border-radius: 5px;
  background: var(--grey-850);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 1rem 0 .5rem 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: -210px 0 0 200px var(--green-200);
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:   var(--green-200);
  cursor: pointer;
  border: 3px solid var(--grey-850);
  transform: scale(1);
  transition: all 0.3s ease;
}

ul > li:nth-child(3) {
  background-color: yellow;
}

