@use "../util" as u;
@use '../globals' as g;

.disabled{
    opacity: 0.5;
    background-color: var(--grey-600);
    cursor: not-allowed;
}

.strength_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.copy_button{
    cursor: pointer;
    padding-right: 1rem;
    height: 1.25rem;

    @include u.breakpoint(medium){
        font-size: g.$font-size-2;
        height: 1.563rem;
    }
}

.grid{
    display: flex;
    flex-direction: column;
    gap: u.$spacing-200;
    height: auto;
    min-width: 18.75rem;
    max-width: 21.438rem;
    width: 100%;
    padding: 1rem;

    @include u.breakpoint(medium){
        max-width: 33.75rem;
    }

    &__title{
        font-size: g.$font-size-4;
        text-align: center;
        color: var(--grey-600);
    }

    &__password{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--grey-800);    
        &--input_text{
            display: flex;
            align-items: center;
            height: 4.063rem;
            font-size: g.$font-size-3;
            color: var(--grey-700);
            background-color: transparent;
            border: none;
            padding-left: 1rem;
            white-space: nowrap; 

            @include u.breakpoint(medium){
                font-size: g.$font-size-2;
            }
        }
    }

    &__generator{
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: var(--grey-800);
        gap: u.$spacing-200;

        padding-left: 1rem;
        padding-right: 1rem;

        &--slider{
            display: flex;
            flex-direction: column;

            &--wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &--input_label{
                font-size: g.$font-size-4;
                color: var(--grey-600);
            }

            &--input_value{
                height: 1.75rem;
                font-size: g.$font-size-2;
                color: var(--green-200);
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }

        &--options{
            display: flex;
            flex-direction: column;
            gap: u.$spacing-200;
        }

        &--strength{
            height: 3.5rem;
            font-size: g.$font-size-4;
            color: var(--grey-600);
            background-color: var(--grey-850);
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
      

            &--level{
                display: flex;
                gap: u.$spacing-100;
                list-style-type: none;
            }
            &--level > li{
                width: 0.625rem;
                height: 1.75rem;
                border: 1px solid var(--white);
            }
        }

        &--button_generate{
            height: 3.5rem;
            font-size: g.$font-size-4;
            color: var(--grey-800);
            background-color: var(--green-200);
            border: none;
            cursor: pointer;
            margin-bottom: 1rem;
        }
    }
}